.toggle-container {
    margin-bottom: 20px;
}
.box {
    fill-opacity: 0.7;
}
.median {
    stroke: #000;
    stroke-width: 2px;
}
.whisker {
    stroke: #bb6d6d;
    stroke-width: 1px;
}
.outlier {
    fill: #000;
    fill-opacity: 0.5;
}
.controls-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}