body {
  font-family: "Orbitron", sans-serif;
  background-color: #fbfbfb;
  color: #1a1a1a; /* Dark text color */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.intro,
.networkChart,
.bubbleChart,
.lineChartContainer,
.boxPlotContainer,
.heatMapContainer {
  height: 100vh;
}
.intro,
.networkChart,
.bubbleChart,
.lineChartContainer,
.boxPlotContainer,
.heatMapContainer,
.networkChartIntro {
  height: 100vh;
}
.introInfo {
  margin: 100px;
  padding: 50px;
  border-radius: 50px;
}
/* .lineChartContainer{
    width: 1200px;
} */
#title {
  font-size: 65px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.subtitle {
  margin-top: 5%;
  text-align: center;
  font-size: 1.75rem;
}
.hospital_image {
  margin-top: 20px;
  margin-left: 20%;
}
.subdiv {
  margin-top: 50px;
  display: flex; 
  gap: 20px; 
  align-items: flex-start; 
}

.subdivinfo {
  flex: 2;
}
.subdivgraphic {
  flex: 1;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
#intropiechart {
  width: 300px;
  height: 300px;
}
.hospital_image{
  flex: 1; 
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: auto auto auto; /* 2 rows */
    gap: 10px; /* Space between items */
    padding: 20px;
    margin-top: 50px;
  }
  
  /* Styling for each grid item */
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .icon {
    width: 100px; /* Adjust icon size */
    height: 100px; /* Adjust icon size */
    margin-bottom: 10px;
  }
  
  /* Optional: Styling for the text */
  .grid-item p {
    font-size: 16px;
    color: #333;
  }
  .subdiv img{
    border-radius:25px;
  }
  #counter {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  #early_transfer_stat{
    margin-top: 50px;
  }
  #counter_text{
    font-size: 2.5rem;
  }
  #stat_number{
    font-size: 4rem;
    color: darkslategray;
  }
  #stat_text{
    font-size: 2rem;
  }
  #stat_div{
    margin-left: 30%;
    margin-top: 15px;
  }
  .monitor-button1{
    background-color: #8b0303;
    width: 100px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 10px;
  }
  .is_dead{
    background-color: #8b0303;
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    opacity: 0;
  }
  #bubbleDead{
    margin-left: -70px;
  }
  #lineDead{
    margin-left: -60px;
  }
  .monitor-button2{
    background-color: rgb(162, 191, 242);
    width: 100px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 10px;
  }
  .monitor-button3{
    background-color: rgb(177, 177, 19);
    width: 100px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 10px;
  }
  .button-group{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
  }
  .introInfoText{
    text-align: center;
  }
  .concludingText{
    text-align: center;
    margin-top: 5%;
    font-size: 2rem;
    line-height: 50px;
  }
  #death_metric{
    color: rgb(188, 0, 0);
    font-size: 4rem;
    margin-right: 20px;
  }
  #death_age_metric{
    font-size: 3rem;
    color: darkslategray;
  }
  #death_boxplot_metric{
    margin-left: 20%;
    margin-bottom: 50px;
  }
  #death_heatmap_metric{
    margin-left: 7%;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  #cured_heatmap_metric{
    margin-left: 7%;
    margin-bottom: 50px;
  }
  #cured_metric{
    font-size: 4rem;
    color: rgb(4, 4, 161);
    margin-right: 20px;
  }
  #filter{
    width: 100px;
    margin-left: -75px;
    border: none;
    background-color: transparent;
    margin-top: 20px;
  }
  #proc_label{
    margin-left:210px;
    margin-top: 30px;
}