.link {
  fill: none;
  stroke: lightgrey;
}


.flow-circle {
  fill: #666666;
  r: 5;
}
div.tooltipNetwork {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 75px;
  padding: 10px;
  font: 16px sans-serif;
  background: whitesmoke;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
#networkSvg{
  /* background-color: red; */
}